
  .bitcoinGuideDes{
    margin-top:2px;
    border: 1px solid lightgray;
    margin-left: 5px;
}

.bitcoinGuideDes p{
    margin-top:2px;
    margin-left:15px;
    font-size: 10px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mockguide__p1{
    padding-top:20px;
}

.mockguide__p2{
    padding-bottom:30px;

}