.bitcoinView{
    border: 1px solid lightgray;
    margin-top:5px;
    margin-left:5px;
    height: 60%;
    padding:50px 150px 50px 20px;
    
}

.bitcoinView h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:15px 0;
    font-weight: 700;
    font-size: 22px;
}

.bitcoinView p{
    font-size:8px;
    line-height:2;
    font-weight: 400;
}  

.bitcoinView p a{
    padding-left:3px;
    padding-right:3px;
}