
.itemShop{
    margin-top:5px;
  }
  
  .itemShop__header{
      display: flex;
      margin-left: 5px;
  }
   
  .shop{
    flex: 1;
      border: 1px solid lightgray;
      font-weight: 400;
      padding:10px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 25px;
      background-color: #F4F4F6;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
  
  .recharge{
      border: 1px solid lightgray;
       font-weight: 400;
      padding:10px;
      font-size: 25px;
      padding-left: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: #F4F4F6;
  } 
  
.myitem{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    font-weight: 400;
   padding:10px;
   font-size: 25px;
   padding-left: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #F4F4F6;
}

  .itemShop__header h2:hover{
      background-color:white;
      cursor: pointer;
      border: none;
      border-bottom: 2px solid red;
  }
  